* {
    box-sizing: border-box;
}

body {
    position: relative;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-wrapper h2 {
    text-align: center;
}

.login-wrapper input {
    min-width: 200px;
    margin-bottom: 10px;
    padding: 5px 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-wrapper button {
    min-width: 200px;
    padding: 5px 7px;
    border-radius: 5px;
    background-color: #004f80;
    font-size: 16px;
    color: #ffffff;
}

.login-wrapper button:hover {
    background-color: #003759;
}

.game-wrapper{
    display: flex;
    justify-content: space-around;
    position: relative;
}

.game-wrapper .game {
    width: 65%;
    padding: 0 5%;
}
.game-wrapper .game .current-text {
    margin: 0 auto 20px;
    font-size: 18px;

}
.game-wrapper .game .current-text .begin-text{
    color: red;

}
.game-wrapper .game .current-text .next-text{
    color: green;
    background-color: #c6f1c6;
}

.game-wrapper .game textarea {
    width: 100%;
    height: 10em;
    resize: none;
}

.game-wrapper .game .commentary-box {
    display: flex;
    align-items: flex-end;
}

.game-wrapper .game .commentary-box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.game-wrapper .game .commentary-box .comments-wrapper {
    height: auto;
    width: 80%;
    max-height: 300px;
    overflow-y: scroll;
    padding: 0 20px;
}

.comments-wrapper .comment {
    position: relative;
    padding: 3px 5px;
    margin: 7px 0;
}

.comments-wrapper .comment.yoda {
    background-color: #c6f1c6;
}

.comments-wrapper .comment.yoda:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -16px;
    right: auto;
    top: 8px;
    bottom: auto;
    border: 8px solid;
    border-color: #c6f1c6 #c6f1c6 transparent transparent;
}

.comments-wrapper .comment.vader {
    background-color: #f1c6c6;
}

.comments-wrapper .comment.vader:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: -16px;
    left: auto;
    top: 8px;
    bottom: auto;
    border: 8px solid;
    border-color: #f1c6c6 transparent transparent #f1c6c6;
}

.game-wrapper .results {
    width: 30%;
}

.time-wrapper {
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    color: #555;
    display: flex;
    justify-content: center;
}

.time-wrapper p {
    align-self: center;
    font-size: 20px;
}

progress[value] {
    appearance: none;
    border: none;
    width: 100%; height: 20px;
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
    color: royalblue;
    position: relative;
    margin: 0 0 1.5em;
}

progress[value]::-webkit-progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}

progress[value]::-webkit-progress-value {
    position: relative;
    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius:3px;
    animation: animate-stripes 5s linear infinite;
}

@keyframes animate-stripes { 100% { background-position: -100px 0; } }

progress[value]::-webkit-progress-value:after {
    content: '';
    position: absolute;
    width:5px;
    height:5px;
    top:7px;
    right:7px;
    background-color: white;
    border-radius: 100%;
}

progress[value]::-moz-progress-bar {
    background-image:
            -moz-linear-gradient( 135deg,
            transparent,
            transparent 33%,
            rgba(0,0,0,.1) 33%,
            rgba(0,0,0,.1) 66%,
            transparent 66%),
            -moz-linear-gradient( top,
            rgba(255, 255, 255, .25),
            rgba(0,0,0,.2)),
            -moz-linear-gradient( left, #09c, #f44);
    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius:3px;
}

.progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
    width: 100%; height:20px;
}

.progress-bar span {
    background-color: royalblue;
    border-radius: 3px;
    display: block;
    text-indent: -9999px;
}

p[data-value] {
    position: relative;
}

p[data-value]:after {
    content: attr(data-value) '%';
    position: absolute;
    right:0;
}

.progress::-webkit-progress-value
{
    background-image:
            -webkit-linear-gradient( 135deg,
            transparent,
            transparent 33%,
            rgba(0,0,0,.1) 33%,
            rgba(0,0,0,.1) 66%,
            transparent 66%),
            -webkit-linear-gradient( top,
            rgba(255, 255, 255, .25),
            rgba(0,0,0,.2)),
            -webkit-linear-gradient( left, #09c, #ff0);
}


.progress::-moz-progress-bar
{
    background-image:
            -moz-linear-gradient( 135deg,
            transparent,
            transparent 33%,
            rgba(0,0,0,.1) 33%,
            rgba(0,0,0,.1) 66%,
            transparent 66%),
            -moz-linear-gradient( top,
            rgba(255, 255, 255, .25),
            rgba(0,0,0,.2)),
            -moz-linear-gradient( left, #09c, #ff0);
}

